
a{
  cursor: pointer;
}

html,

body {
  background: #fff;
  font-family: Verdana, Geneva, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  color: #080855;
}
#intro{
  margin-top:10px;
  margin-bottom:100px;
}
.explanation, .explanation2{
  margin: auto;
  width: 90%;
  padding: 10px;
  text-align: justify;
  background-color: #ebeaf8;
  border: 3px solid #080855;
}
.explanation p{
  font-size: 14px;
}

.explanation2 p{
  font-size: 13px;
}
.explanation h1, .explanation2 h1{
  text-decoration: underline;
}
#figure0{
  height: auto;
}
.row{
  display: flex;
  text-align: center;
}

.column_middle {
  width: 70%;
  text-align: center;
}
.column_left{
  width: 15%;
  text-align:right;
  margin-left: 10px;
  margin-top: 50px;
  margin-right: 10px;
}
.column_right{
  width: 15%;
  text-align:left;
  margin-left: 10px;
  margin-top: 50px;
  margin-right: 10px;
}

#donut_chart{
  margin-top: 40px;
  margin-left: 40px;
}

#C{
  width: 50%;
  margin-left: 42px;
  align-items: center;
  align-content: center;
  text-align: center;
}

#D{
  width: 55%;
}

#scrolly {
  position: relative;
  display: flex;
  background-color: #fff;
}

#scrolly > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex:1;
}

article {
  position: relative;
  padding: 0 1rem;
  max-width: 35rem;
  margin-right: 40px;
  margin-left: 0px;
}

figure {
  position: sticky;
  width: 100%;
  margin-bottom:120px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-color: #fff;
  z-index: 0;
}

figure p {
  text-align: justify;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color: #fff;
}

.step {
  width:100%;
  height: auto;
  font-size: 12px;
  margin-top:55px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left:10px;
  background-color: #fff;
  color: #fff;
}

.step:last-child {
  margin-bottom: 30px;
}

.step.is-active {
  height: auto;
  font-size: 12px;
  background-color: #ebeaf8;
  color: #080855;
  border: 4px solid #080855;
}

.step p {
  text-align: justify;
  align-items: center;
  padding: 1rem;
  font-size: 14px;

}

.step.is-active a:link{
  color:#080855;
}
.step a:link{
  color:#FFFFFF;
}

#section_2{
  margin-top: 200px;
  margin-bottom: 100px;
}

#figure0{
  color:#080855;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
}

#legend{
  text-decoration: underline;
  font-size: 14px;
  font-weight: bold;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: auto;
  padding: 2px;
  font: 12px sans-serif;
  background: #ebeaf8;
  border: 1px solid #080855;
  border-radius: 8px;
  pointer-events: none;
}